{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('question-lost-job.title') }}</h1>

    <div>
        <p>
            {{ __('question-lost-job.intro') }}
        </p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ textInput('form.firstname', 'form.firstname.desc') }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
