{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('500.title') }}</h1>
    <div data-gc-analytics-error="500">
        <p>{{ __('500.error') }}</p>
        {% include '_includes/error-link.njk' %}
    </div>

    {% if message and NODE_ENV !== 'production' %}
        <pre class="error">{{ message }}</pre>
    {% endif %}

{% endblock %}