.benefits {
  @apply  -mx-5 mt-10 bg-green-100;
  &__header {
    @apply mb-6 p-4 flex items-center;

    color: $color-green;

    svg {
      @apply mr-4;
    }
  }

  .benefit {
    @apply mt-5 p-5 bg-white border-l-4;
    border-color: $color-green;

    &__header {
      background: $color-green;
      @apply text-white font-normal;
    }
  }
}

.benefits--other {
  .benefits__header {
    @apply p-4;
    color: $color-blue-light;
  }

  .benefit {
    border-color: $color-blue-light;

    &__header {
      background: $color-blue-light;
    }
  }
}
.benefits--unavailable {
  .benefits__header {
    @apply p-4;
    color: $color-red;
  }

  .benefit {
    border-color: $color-red;

    &__header {
      background: $color-red;
    }
  }
}