{% extends "base.njk" %}

{% block content %}
    <div>
        {{ headerLinkQuestion() }}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('applied_to_EI', { 
                '1':'You’re already receiving EI benefits.',
                '2':'You’ve applied for EI benefits, but haven’t heard back.',
                '3':'No.'
                }, data.applied_to_EI, 'form.applied_to_EI', errors, { required: true }) }}

            {{ formButtons() }}
        </form>
    </div>
{% endblock %}
