{% extends "base.njk" %}

{% block content %}
    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('applied_to_EI', { 
                '1':'applied_to_EI.1',
                '2':'applied_to_EI.2',
                '3':'applied_to_EI.3'
                }, data.applied_to_EI, 'form.applied_to_EI', errors) }}

            {{ formButtons() }}
        </form>
    </div>
{% endblock %}
