{% extends "base.njk" %}

{% block content %}

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('lost_job_c19', { '1':'lost_job_c19.yes','2':'lost_job_c19.no'}, data.lost_job_c19, 'form.lost_job_c19', errors, { required: true }) }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
