{% extends "base.njk" %}

{% block content %}

    <div>
        {% include "../../views/_includes/header-link-question.njk" %}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ radioButtons(
                'eligible_for_ei',
                [ 
                    { value: '1', text: __('eligible_for_ei.yes')},
                    { value: '2', text: __('eligible_for_ei.no')}
                ],
                data.eligible_for_ei,
                __('question.eligible_for_ei'),
                errors,
                {
                    hint: __('question.eligible_for_ei.desc'),
                    safeHint: true,
                    required: true
                }
            )}}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
