{% extends "base.njk" %}

{% block content %}

    <div>
        {% include "../../views/_includes/header-link-question.njk" %}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ radioButtons(
                'sick_or_quarantine', 
                [ 
                    { value: '1', text: __('sick_or_quarantine.yes')},
                    { value: '2', text: __('sick_or_quarantine.no')}
                ], 
                data.sick_or_quarantine,
                __('question.sick_or_quarantine'),
                errors,
                { required: true }
            ) }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
