<div>
  <a href="{{ lastPage }}" aria-label="{{__('button.back')}}" class="back-button" referrerpolicy="origin">
    <img src="/img/arrow-circle-left.svg" aria-hidden="true" /><span>{{__('button.back')}}</span>
  </a>
</div>