<div class="">
  <a href="/back" class="">
    <img src="{{ asset('/img/arrow-circle-left.svg') }}" alt="" class="w-6 h-6 inline-block" /><span class="inline-block">{{__('button.back')}}</span>
  </a>
</div>