<footer class="border-0 bg-gray-100">
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li>
                    <a href="{{ __('footer.contact') }}">{{ __('footer.contact.desc') }}</a>
                </li>
                <li>
                    <a href={{ __('footer.privacy') }}>{{ __('footer.privacy.desc') }}</a>
                </li>
                <li>
                    <a href={{ __('footer.terms') }}>{{ __('footer.terms.desc') }}</a>
                </li>
            </ul>
        </div>
        <div class="canada-wordmark">
            <img src="{{ asset('/img/wmms-blk.svg') }}" alt="{{ __('wordmark.alt') }}">
        </div>
    </div>
</footer>