<div class="flex flex-col md:flex-row">
    <p class="service-name flex-grow text-gray-700 text-2xl">{{__("header_money_for_covid")}}</p>
    <p class="flex-none text-lg md:ml-5"><a href="/clear">{{__("start_over")}}</a></p>
</div>