{% if (title) and (title !== __('app.title')) %}
  {% set metaTitle = title + ' - ' + __('app.title') %}
{% else %}
  {% set metaTitle = title %}
{% endif %}

{% set metaImage = asset('/img/meta-image-' + getLocale() + '.png') %}
  
<!-- Primary Meta Tags -->
<title>{{ metaTitle }}</title>

<meta name="title" content="{{ metaTitle }}">

<meta name="description" content="{{ __('app.description') }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ siteUrl }}">
<meta property="og:title" content="{{ metaTitle }}">
<meta property="og:description" content="{{ __('app.description') }}">
<meta property="og:image" content="{{siteUrl}}{{ metaImage }}">
<meta property="og:image:alt" content="{{ __(app.metaImageAlt) }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ siteUrl }}">
<meta property="twitter:title" content="{{ metaTitle }}">
<meta property="twitter:description" content="{{ __('app.description') }}">
<meta property="twitter:image" content="{{siteUrl}}{{ metaImage }}">
<meta property="twitter:image:alt" content="{{ __(app.metaImageAlt) }}">