<script>
    var elements = document.querySelectorAll('a.button-link')
    for (var i = 0, len = elements.length; i < len; i++) {
        elements[i].addEventListener('keydown', function (e) {
            if (e.keyCode == 32) {
                e
                    .target
                    .click()
            }
        })
    }

    var backLinkContainer = document.getElementsByClassName('back-button-container')[0];
    
    if (backLinkContainer) {
        backLinkContainer.className = backLinkContainer.className.replace(/\bno-js\b/g, "");
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('backButton') && document.getElementById('backButton').addEventListener('click', function() {
            window.history.go(-1);
        }, true)
    }, false);

</script>
<script>
    if (typeof Promise !== "function" && document.querySelector('details') !== null)
        document.write('<script src="/js/details-element-polyfill.js"><\/script>');
</script>

<!-- Feedback form -->
<script>
    const form = document.getElementById('feedback-form');
    const confirmation = document.getElementById('feedback-confirmation');
    const csrf = document.getElementById('feedback-csrf');

    const submitFeedback = (event) => {
        event.preventDefault();

        let xmlhttp= window.XMLHttpRequest ?
            new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");

        // handle post-submit (swap form for confirmation)
        xmlhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                form.classList.add('hidden');
                confirmation.classList.remove('hidden');
            }
        }

        // gather up the checkbox values
        var problems = []
        var checkboxes = form.querySelectorAll('input[type=checkbox]:checked')

        for (var i = 0; i < checkboxes.length; i++) {
            problems.push(checkboxes[i].value)
        }

        // post to our feedback endpoint
        xmlhttp.open("POST","/en/feedback",true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("problems=" + problems + "&_csrf=" + csrf.value);
    }

    // intercept the form submit
    form.addEventListener('submit', submitFeedback);
</script>