{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <h1>{{ __('start.title') }}</h1>

    <div>
        <p class="mb-8">{{ __('start.intro.2') | safe }}</p>
        {% if LAST_UPDATED %}
            <h2 class="text-2xl mb-5">{{ __('start.lastupdated') }} <time datetime="{{ LAST_UPDATED }}">{{ LAST_UPDATED | lastupdated(getLocale()) }}</time></h2>
        {% endif %}
        <p>{{ __('start.intro.3') | safe }}</p>
    </div>

    <div>
        <details>
            <summary><span>{{ __('start.details.summary') | safe }}</span></summary>
            <p>{{ __('start.details.p.1') | safe }}</p>
        </details>
    </div>

    <div class="start-button">
        <a class="font-semibold button-link py-6 px-5 border shadow" data-cy="start" href="{{ nextRoute('start') }}" role="button" draggable="false">
            {{ __('start.submit') }}
        </a>
    </div>

{% endblock %}
