{{ benefitResult( 
    __("ccb_payment.header"),
    __("ccb_payment.preamble"),
    {
        text: __("ccb_payment.linktext"),
        link: "#"
    },
    [
        __("ccb_payment.box1"),
        __("ccb_payment.box2")
    ]
)}}