{{ benefitResult( 
    __("cerb.header"),
    __("cerb.preamble"),
    {
        text: __("cerb.linktext"),
        link: "#"
    },
    [
        __("cerb.box1"),
        __("cerb.box2"),
        __("cerb.box3")
    ]
)}}
