{% extends "benefit-template.njk" %}

{% set sectionId = 'cerb' %}

{% block header %}
  {{__("cerb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("500 $ par semaine") }}
  {{ benefitLi("Jusqu’à 16 semaines", "tant que vous répondez aux critères d’admissibilité") }}
  {{ benefitLi("À recevoir au plus tard 10 jours après la demande") }}
{% endblock %}

{% block body %}
  <strong>Prochaines étapes :</strong>
  <ul>
    <li>Vous devrez répondre à quelques questions afin de déterminer si vous devez présenter la demande auprès de l’agence du revenu du Canada (ARC) ou Services Canada.</li>
    <li>L’application vous demandera de confirmer que vous répondez aux critères d’admissibilité. Lisez attentivement les détails.</li>
    <li>Ces montants sont imposables.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "cerb",
      "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
      "Découvrez comment appliquer"
  )}}
{% endblock %}
