<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="cerb">
    {{__("cerb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("2000 $ aux 4 semaines") }}
    {{ blueLI("Pendant 4 mois maximum") }}
    {{ blueLI("À recevoir au plus tard 10 jours après la demande") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Cette prestation peut vous aider si : </strong>
    <ul class='list-outside list-disc'>
      <li>vous avez été forcé de quitter votre emploi.</li>
      <li>vous avez gagné un revenu d’au moins 5000 $ en 2019 ou dans les 12 derniers mois.</li>
      <li>vous avez arrêté de travailler en raison de la COVID-19 :<ul>
          <li>Votre revenu était sous 1000 $ pendant au moins 14 jours consécutifs durant les 4 premières semaines de votre demande.</li>
          <li>Vous anticipez recevoir moins de 1000 $ durant les prochaines périodes de 4 semaines.</li>
        </ul>
      </li>
    </ul>

    <strong>Bon à savoir :</strong>
    <ul class='list-outside list-disc'>
      <li>Offerte du 15 mars au 3 octobre 2020.</li>
      <li>Vous devrez présenter une nouvelle demande à chaque période de 4 semaines.</li>
      <li>Ces montants sont imposables.</li>
    </ul>

  </div>

  {{ infoLink(
        "cerb",
        "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
        "Demander la PCU"
    )}}
</div>