<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="cesb">
    {{__("cesb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("De mai à août 2020") }}
    {{ blueLI("1250 $ par mois ou") }}
    {{ blueLI("1750 $ par mois si vous avez des personnes à charge ou un handicap") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Cette prestation peut vous aider si : </strong>
    <ul class='list-outside list-disc'>
      <li>vous êtes étudiant ou récemment diplômé et n’êtes pas admissible à la Prestation canadienne d’urgence.</li>
      <li>vous ne gagnez pas plus de 1000 $ par mois, avant impôts.</li>
    </ul>

    <strong>Bon à savoir :</strong>
    <ul class='list-outside list-disc'>
      <li>Les versements seront rétroactifs au 1er mai 2020.</li>
      <li>Le gouvernement doit apporter des modifications à certaines lois afin de rendre cette prestation possible. Cela prendra un peu de temps et pourrait inflencer certains détails de cette prestation.</li>
      <li>La prestation sera distribuée par l’Agence du revenu du Canada (ARC).</li>
      <li>Nous mettrons ces renseignements à jour lorsqu’ils seront connus.</li>
    </ul>

  </div>

  {{ infoLink(
        "cesb",
        "https://pm.gc.ca/fr/nouvelles/communiques/2020/04/22/aide-aux-etudiants-et-aux-nouveaux-diplomes-touches-la-covid-19",
        "Tenez vous informés au sujet de l’aide pour les étudiants"
    )}}
</div>