<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="cesb">
    {{__("cesb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("From May to August 2020") }}
    {{ blueLI("$1,250 per month or") }}
    {{ blueLI("$2,000 per month if you have disabilities or") }}
    {{ blueLI("$2,000 per month if you have dependants") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>The benefit can help if you:</strong>
    <ul class='list-outside list-disc'>
      <li>Are a post-secondary student or recent post-secondary or high school graduate.</li>
      <li>Are not receiving the Canada Emergency Response Benefit (CERB).</li>
      <li>Are not able to work or you’re earning no more than $1,000 before taxes per month.</li>
    </ul>

    <strong>Good to know:</strong>
    <ul class='list-outside list-disc'>
      <li>It will be available for 4 months between May and August 2020.</li>
      <li>The Canada Revenue Agency (CRA) will deliver the program.</li>
      <li>You can apply through your MyCRA account, once the benefit is available.</li>
      <li>More details will be available soon.</li>
    </ul>

  </div>

  {{ infoLink(
        "cesb",
        "https://pm.gc.ca/en/news/news-releases/2020/04/22/support-students-and-new-grads-affected-covid-19",
        "Read the news release about help for students"
    )}}
</div>