<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="cesb">
    {{__("cesb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("From May to August 2020") }}
    {{ blueLI("$1,250 per month or") }}
    {{ blueLI("$1,750 per month if you have dependents or disabilities") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>The benefit can help if you:</strong>
    <ul class='list-outside list-disc'>
      <li>Are a student or new graduate who is not eligible for the Canada Emergency Response Benefit (CERB).</li>
      <li>Earn no more than $1,000 before taxes per month.</li>
    </ul>

    <strong>Good to know:</strong>
    <ul class='list-outside list-disc'>
      <li>Payments will be retroactive to May 1, 2020.</li>
      <li>The government has proposed changes to laws to create this program. That means it has to go to Parliament, which will take time and could change the proposed details.</li>
      <li>The Canada Revenue Agency (CRA) will likely deliver the program.</li>
      <li>We’ll update this information once the details are known.</li>
    </ul>

  </div>

  {{ infoLink(
        "cesb",
        "https://pm.gc.ca/en/news/news-releases/2020/04/22/support-students-and-new-grads-affected-covid-19",
        "Read the news release about help for students"
    )}}
</div>