<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="cssg">
    {{__("cssg.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ benefitLi("Jusqu’à concurrence de 5000 $ à l’automne") }}
  </ul>

  <div class="pb-5 mt-6">
    <strong>Bon à savoir :</strong>
    <ul class='list-outside list-disc'>
      <li>Le gouvernement doit apporter des modifications à certaines lois afin de rendre cette prestation possible. Cela prendra un peu de temps et pourrait inflencer certains détails de cette prestation.</li>
      <li>Nous mettrons ces renseignements à jour lorsqu’ils seront connus.</li>
    </ul>

  </div>

  {{ infoLink(
        "cssg",
        "https://pm.gc.ca/fr/nouvelles/communiques/2020/04/22/aide-aux-etudiants-et-aux-nouveaux-diplomes-touches-la-covid-19",
        "Tenez vous informés au sujet de l’aide pour les étudiants"
    )}}
</div>