<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="cssg">
    {{__("cssg.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ benefitLi("Up to $5,000 towards school in the fall") }}
  </ul>

  <div class="pb-5 mt-6">
    <strong>Good to know:</strong>
    <ul class='list-outside list-disc'>
      <li>The government has proposed changes to laws to deliver this new Canada Student Service Grant. That means it has to go to Parliament, which will take time and could change the proposed details.</li>
      <li>We’ll update this information once the details are known.</li>
    </ul>

  </div>

  {{ infoLink(
        "cssg",
        "https://pm.gc.ca/en/news/news-releases/2020/04/22/support-students-and-new-grads-affected-covid-19",
        "Read the news release about help for students"
    )}}
</div>