{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_allowance' %}

{% block header %}
  {{__("dtc_allowance.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("") }}
  {{ benefitLi("") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Les paiements seront déposés automatiquement dès que possible. Vous n’avez pas à faire quoi que ce soit pour le recevoir.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_allowance",
    "https://www.canada.ca/en/revenue-agency/services/tax/individuals/segments/tax-credits-deductions-persons-disabilities/disability-tax-credit.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}