
{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_individual' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement unique de 600 $, non imposable.</strong>") }}
  {{ benefitLi("<strong>Nous anticipons émettre les paiements à compter de cet automne.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous êtes admissible si vous détenez un certificat valide pour le crédit d'impôt pour personnes handicapées ou si vous recevez des prestations d’invalidités ou des prestations d’invalidités offertes par Anciens Combattants Canada.</li>
    <li>Nous anticipons émettre les paiements à compter de cet automne. Vous n’avez pas à faire quoi que ce soit pour le recevoir.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc",
    "https://www.canada.ca/fr/services/prestations/covid-19-prestations-urgence/paiement-unique-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}
