
{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_individual' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement unique de 600 $, non imposable.</strong>") }}
  {{ benefitLi("<strong>Nous anticipons émettre les paiements à compter de cet automne.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous êtes admissible si vous détenez un certificat valide pour le crédit d'impôt pour personnes handicapées, ou</li>
    <li>vous êtes bénéficiaire en date du 1er juillet 2020, de l’une ou l’autre des mesures suivantes :
      <ul>
        <li>de la prestation d’invalidité du Régime de pensions du Canada</li>
        <li>de la rente d'invalidité du Régime de rentes du Québec, ou</li>
        <li>l’une des mesures de soutien pour invalidité offertes par Anciens Combattants Canada :
          <ul>
            <li>pension d’invalidité;</li>
            <li>indemnité d’invalidité;</li>
            <li>indemnité pour douleur et souffrance;</li>
            <li>indemnité pour blessure grave;</li>
            <li>Programme de services de réadaptation et d’assistance professionnelle;</li>
            <li>prestations de remplacement du revenu;</li>
            <li>Allocation de soutien du revenu des Forces canadiennes.</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Nous anticipons émettre les paiements à compter de cet automne. Vous n’avez pas à faire quoi que ce soit pour le recevoir.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc",
    "https://www.canada.ca/fr/services/prestations/covid-19-prestations-urgence/paiement-unique-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}
