<div class="benefit" data-cy="ei_regular_cerb-benefit">

   <h2 class="benefit__header" id="ei_regular_cerb">
    {{__("ei_regular_cerb.header")}}
  </h2>

  <ul class="benefit__featured_list">
    {{ benefitLi("500 $ par semaine") }}
    {{ benefitLi("Jusqu’à 16 semaines", "tant que vous répondez aux critères d’admissibilité") }}
    {{ benefitLi("À recevoir au plus tard 10 jours après la demande") }}
  </ul>

  <div class="benefit__body">
    <strong>Prochaines étapes :</strong>
    <ul class='list-outside list-disc'>
      <li>Vous devrez répondre à quelques questions afin de déterminer si vous devez présenter la demande auprès de l’agence du revenu du Canada (ARC) ou Services Canada.</li>
      <li>L’application vous demandera de confirmer que vous répondez aux critères d’admissibilité. Lisez attentivement les détails.</li>
      <li>Ces montants sont imposables.</li>
    </ul>
  </div>

  {{ infoLink(
        "ei_regular_cerb",
        "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
        "Découvrez comment appliquer"
    )}}
</div>