{{ benefitResult(
    "ei_regular_cerb",
    __("ei_regular_cerb.header"),
    __("ei_regular_and_cerb.preamble"),
    {
        text: __("ei_regular_and_cerb.linktext"),
        link: __("ei_regular_and_cerb.link")
    },
    [
        __("ei_regular_and_cerb.box1")
    ]
)}}