<div class="m-5 p-5 shadow-result">
  <h2 class="text-2xl font-bold mb-6" id="ei_regular_cerb">
    {{__("ei_regular_cerb.header")}}
  </h2>
  <ul class="list-none list-outside pl-0">
    {{ blueLI("$2,000 for the first 4 weeks") }}
    {{ blueLI("$1,000 every 2 weeks after that") }}
  </ul>
  <div class="pb-5 mt-6">

    <strong>The benefit can help if you:</strong>
    <ul class='list-disc list-outside'>
      <li> Did not leave your job voluntarily. </li>
      <li>Earned at least $5,000 in 2019 or the last 12 months.</li>
      <li>Stopped working because of COVID-19:
        <ul class='list-disc list-outside'>
          <li>In the first 4 weeks you apply for, you received less than $1,000 for at least 14 consecutive days.</li>
          <li>For the next 4-week periods after your first application, you expect to receive less than $1,000 for the whole period.</li>
        </ul>
      </li>
    </ul>

    <strong>Good to know:</strong>
    <ul class='list-disc list-outside'>
      <li>You’ll need to submit “claimant reports” to Service Canada every 2 weeks. </li>
    </ul>

  </div>

  {{ infoLink(
        "ei_regular_cerb",
        "https://www.canada.ca/en/services/benefits/ei/cerb-application.html",
        "Apply for CERB"
    )}}
</div>