<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="ei_regular_cerb">
    {{__("ei_regular_cerb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("2000 $ aux 4 semaines") }}
    {{ blueLI("Pendant 4 mois maximum") }}
    {{ blueLI("À recevoir au plus tard 10 jours après la demande") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Cette prestation peut vous aider si :</strong>
    <ul class='list-outside list-disc'>
      <li>vous avez été forcé de quitter votre emploi.</li>
      <li>vous avez gagné un revenu d’au moins 5000 $ en 2019 ou dans les 12 derniers mois.</li>
      <li>vous avez arrêté de travailler en raison de la COVID-19 :<ul>
          <li>Votre revenu n’était pas plus de 1000 $ pendant au moins 14 jours consécutifs durant les 4 premières semaines de votre demande.</li>
          <li>Vous anticipez ne recevoir pas plus de 1000 $ durant les prochaines périodes de 4 semaines.</li>
        </ul>
      </li>
    </ul>

    <strong>Prochaines étapes :</strong>
    <ul class='list-outside list-disc'>
      <li>Vous devrez répondre à quelques questions afin de déterminer si vous devez présenter la demande pour la PCU auprès de l’agence du revenu du Canada (ARC) ou Services Canada.</li>
      <li>L’application vous demandera de confirmer que vous répondez aux critères d’admissibilité. Lisez attentivement les détails.</li>
      <li>Ces montants sont imposables.</li>
    </ul>

  </div>

  {{ infoLink(
        "ei_regular_cerb",
        "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
        "Vérifier votre admissibilité à la PCU"
    )}}
</div>