<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="ei_sickness_cerb">
    {{__("ei_sickness_cerb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("$2,000  every 4 weeks") }}
    {{ blueLI("Up to 4 months") }}
    {{ blueLI("First payment within 10 days of applying") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>The benefit can help if you:</strong>
    <ul class='list-disc list-outside'>
      <li> Did not leave your job voluntarily. </li>
      <li>Earned at least $5,000 in 2019 or the last 12 months.</li>
      <li>Stopped working because of COVID-19: <ul class='list-disc list-outside'>
          <li>In the first 4 weeks you apply for, you received no more than $1,000 for at least 14 consecutive days.</li>
          <li>For the next 4-week periods after your first application, you expect to receive no more than $1,000 for the whole period.</li>
        </ul>
      </li>
    </ul>

    <strong>Next steps:</strong>
    <ul class='li-disc list-outside'>
      <li>You’ll be asked some questions to direct you to apply through either the Canada Revenue Agency (CRA) or Service Canada.</li>
      <li>The application will ask you to declare that you meet the eligibility criteria, so read the details carefully. </li>
      <li>You’ll need to pay income tax on these payments in the future.</li>
    </ul>

  </div>

  {{ infoLink(
        "ei_sickness_cerb",
        "https://www.canada.ca/en/services/benefits/ei/cerb-application.html",
        "Apply for CERB"
    )}}
</div>