<div class="m-5 p-5 benefit" data-cy="ei_sickness_cerb-benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="ei_sickness_cerb">
    {{__("ei_sickness_cerb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ benefitLi("500 $ par semaine") }}
    {{ benefitLi("Jusqu’à 16 semaines", "tant que vous répondez aux critères d’admissibilité") }}
    {{ benefitLi("À recevoir au plus tard 10 jours après la demande") }}
  </ul>

  <div class="pb-5 mt-6">
    <strong>Prochaines étapes :</strong>
    <ul class='list-outside list-disc'>
      <li>Vous devrez répondre à quelques questions afin de déterminer si vous devez présenter la demande auprès de l’agence du revenu du Canada (ARC) ou Services Canada.</li>
      <li>L’application vous demandera de confirmer que vous répondez aux critères d’admissibilité. Lisez attentivement les détails.</li>
      <li>Ces montants sont imposables.</li>
    </ul>
  </div>

  {{ infoLink(
        "ei_sickness_cerb",
        "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
        "Découvrez comment appliquer"
    )}}
</div>