<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="ei_sickness_cerb">
    {{__("ei_sickness_cerb.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("500 $ par semaine") }}
    {{ blueLI("Jusqu’à 16 semaines tant que vous répondez aux critères d’admissibilité") }}
    {{ blueLI("À recevoir au plus tard 10 jours après la demande") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Prochaines étapes :</strong>
    <ul class='list-outside list-disc'>
      <li>Vous devrez répondre à quelques questions afin de déterminer si vous devez présenter la demande pour la PCU auprès de l’agence du revenu du Canada (ARC) ou Services Canada.</li>
      <li>L’application vous demandera de confirmer que vous répondez aux critères d’admissibilité. Lisez attentivement les détails.</li>
      <li>Ces montants sont imposables.</li>
    </ul>

  </div>

  {{ infoLink(
        "ei_sickness_cerb",
        "https://www.canada.ca/fr/services/prestations/ae/pcusc-application.html",
        "Découvrez comment appliquer"
    )}}
</div>