{{ benefitResult( 
    "ei_sickness",
    __("ei_sickness.header"),
    __("ei_sickness.preamble"),
    {
        text: __("ei_sickness.linktext"),
        link: "#"
    },
    [
        __("ei_sickness.box1")
    ]
)}}