{{ benefitResult( 
    __("ei_sickness_and_cerb.header"),
    __("ei_sickness_and_cerb.preamble"),
    {
        text: __("ei_sickness_and_cerb.linktext"),
        link: "#"
    },
    [
        __("ei_sickness_and_cerb.box1")
    ]
)}}