
{{ benefitResult( 
    __("ei_workshare.header"),
    __("ei_workshare.preamble"),
    {
        text: __("ei_workshare.linktext"),
        link: "#"
    },
    [
        __("ei_workshare.box1"),
        __("ei_workshare.box2")
    ]
)}}