<div class="m-5 p-5 shadow-result">
  <h2 class="text-2xl font-bold mb-6" id="gst_credit">
    {{ __("gst_credit.header") }}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("Automatic payment in April if you already receive the GST credit") }}
    {{ blueLI("On average:<br>$400 for single people<br>$600 for couples") }}
    {{ blueLI("Amount depends on your 2018 income taxes") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Good to know:</strong>
    <ul class='list-disc list-outside'>
      <li>You don’t need to do anything to receive this payment. It was sent automatically if you already receive the GST credit, starting April 9.</li>
      <li>Check your bank account or mailbox to see iffyou’ve received it.</li>
    </ul>

  </div>

  {{ infoLink("gst_credit",
        "https://www.canada.ca/en/revenue-agency/services/child-family-benefits/covid-19-gsthstc-increase.html",
        "Learn more about the GST credit"
    )}}
</div>