{{ benefitResult( 
    __("gst_credit.header"),
    __("gst_credit.preamble"),
    {
        text: __("gst_credit.linktext"),
        link: "#"
    },
    [
        __("gst_credit.box1"),
        __("gst_credit.box2")
    ]
)}}