<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="mortgage_deferral">
    {{__("mortgage_deferral.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ benefitLi("Interrompez vos paiements hypothécaires jusqu’à ce que vous puissiez les payer à nouveau") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Bon à savoir :</strong>
    <ul class='list-disc list-outside'>
      <li>La banque chargera quand même de l’intérêt.</li>
      <li> Lorsque vous pourrez effectuer vos paiements à nouveau, vous devrez payer l’intérêt encouru depuis le sursis en plus de vos paiements réguliers.</li>
      <li> Vous pouvez aussi parler à votre banque à propos de plans de paiements spéciaux afin de ré-amortir votre hypothèque.</li>
    </ul>

  </div>

  {{ infoLink(
        "mortgage_deferral",
        "https://cba.ca/mortgage-deferral-to-help-canadians-experiencing-financial-hardship-due-to-covid-19?l=fr",
        "En savoir plus à propos du soutien hypothécaire"
    )}}
</div>