{{ benefitResult( 
    __("mortgage_deferral.header"),
    __("mortgage_deferral.preamble"),
    {
        text: __("mortgage_deferral.linktext"),
        link: "#"
    },
    [
        __("mortgage_deferral.box1")
    ]
)}}