<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="oas">
    {{__("oas.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ benefitLi("$300 one-time, tax-free payment if you are enrolled in the Old Age Security (OAS) pension <br><br> OR $500 one-time, tax-free payment if you receive the Guaranteed Income Supplement (GIS)") }}
    {{ benefitLi("July 2020") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Good to know:</strong>
    <ul class='list-disc list-outside'>
      <li>Payments will be sent automatically. You don’t need to do anything to receive it.</li>
    </ul>

  </div>

  {{ infoLink(
        "oas",
        "https://pm.gc.ca/en/news/news-releases/2020/05/12/prime-minister-announces-additional-support-canadian-seniors",
        "Read the news release about help for seniors"
    )}}
</div>