<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="oas">
    {{__("oas.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("paiement unique de 300 $, non imposable, si vous recevez la pension de la Sécurité de vieillesse (SV) <br><br> OU paiment unique de 500 $, non imposable, si vous recevez le supplément de revenu garanti (SRG)") }}
    {{ blueLI("Juillet 2020") }}
  </ul>

  <div class="pb-5 mt-6">

    <strong>Bon à savoir :</strong>
    <ul class='list-disc list-outside'>
      <li>Les paiements seront déposés automatiquement. Vous n’avez pas à faire quoi que ce soit pour le recevoir. </li>
    </ul>

  </div>

  {{ infoLink(
        "oas",
        "https://pm.gc.ca/fr/nouvelles/communiques/2020/05/12/premier-ministre-annonce-soutien-supplementaire-les-aines",
        "Consultez les points de presse pour en savoir plus à propos de l’aide pour les aînés "
    )}}
</div>