<div class="benefit">

   <h2 class="benefit__header" id="province-mb">
    {{__("province-mb.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-mb",
        "https://www.gov.mb.ca/covid19/infomanitobans/index.fr.html#individuals",
        "En savoir plus à propos des prestations du Manitoba"
    )}}
</div>