<div class="benefit">

   <h2 class="benefit__header" id="province-ns">
    {{__("province-ns.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-ns",
        "https://novascotia.ca/coronavirus/support/",
        "Learn more about Nova Scotia benefits"
    )}}
</div>