<div class="benefit">

   <h2 class="benefit__header" id="province-on">
    {{__("province-on.header")}}
  </h2>

  <div class="benefit__body">

    <p>Some provincial and territorial governments are offering additional support for people during COVID-19.</p>

    <strong>Good to know:</strong>
    <ul class='list-outside list-disc'>
      <li>Information for <a href="https://www.ontario.ca/page/covid-19-support-workers" target="_blank">health care workers and others who are working in Ontario</a>.</li>
    </ul>
  </div>

  {{ infoLink(
        "province-on",
        "https://www.ontario.ca/page/covid-19-support-people",
        "Learn more about Ontario benefits"
    )}}
</div>