<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-on">
    {{__("province-on.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

    <strong>Bon à savoir :</strong>
    <ul class='list-outside list-disc'>
      <li>Information pour <a href="https://www.ontario.ca/fr/page/covid-19-soutien-aux-travailleurs" target="_blank">les travailleurs de la santé et les autres personnes en service en Ontario</a>.</li>
    </ul>
  </div>

  {{ infoLink(
        "province-on",
        "https://www.ontario.ca/fr/page/covid-19-soutien-aux-personnes",
        "En savoir plus à propos des prestations de l’Ontario"
    )}}
</div>