<div class="benefit">

   <h3 class="benefit__header" id="province-nl">
    {{__("province-nl.header")}}
  </h3>

  <div class="benefit__body">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nl",
        "https://www.gov.nl.ca/covid-19/fr/ressources/",
        "En savoir plus à propos du plan de Terre-Neuve-et-Labrador"
    )}}
</div>