<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-qc">
    {{__("province-qc.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-qc",
        "https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/aide-financiere-covid19/",
        "En savoir plus à propos des prestations du Québec"
    )}}
</div>