<div class="benefit">

   <h2 class="benefit__header" id="province-yt">
    {{__("province-yt.header")}}
  </h2>

  <div class="benefit__body">

    <p>Certains gouvernements provinciaux et territoriaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-yt",
        "https://yukon.ca/fr/covid-19-support-yukoners",
        "En savoir plus à propos du plan du Yukon"
    )}}
</div>