<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="province-nl">
    {{__("province-nl.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nl",
        "https://www.gov.nl.ca/covid-19/resources/",
        "Learn more about Newfoundland and Labrador’s response"
    )}}
</div>