<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-nt">
    {{__("province-nt.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux et territoriaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nt",
        "https://www.gov.nt.ca/covid-19/fr/services/soutien-financier",
        "En savoir plus à propos des prestations des Territoires du Nord-Ouest"
    )}}
</div>