<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="province-sk">
    {{__("province-sk.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-sk",
        "https://www.saskatchewan.ca/government/health-care-administration-and-provider-resources/treatment-procedures-and-guidelines/emerging-public-health-issues/2019-novel-coronavirus/covid-19-information-for-businesses-and-workers/support-for-workers#saskatchewan-support",
        "Learn more about Saskatchewan benefits"
    )}}
</div>