<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="province-nb">
    {{__("province-nb.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nb",
        "https://www2.gnb.ca/content/gnb/fr/corporate/promo/covid-19.html",
        "En savoir plus à propos du plan du Nouveau-Brunswick"
    )}}
</div>