<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-sk">
    {{__("province-sk.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-sk",
        "https://www.saskatchewan.ca/government/health-care-administration-and-provider-resources/treatment-procedures-and-guidelines/emerging-public-health-issues/2019-novel-coronavirus/covid-19-information-for-businesses-and-workers/support-for-workers#saskatchewan-support",
        "Learn more about Saskatchewan benefits"
    )}}
</div>