<div class="benefit">

   <h2 class="benefit__header" id="province-qc">
    {{__("province-qc.header")}}
  </h2>

  <div class="benefit__body">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-qc",
        "https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/financial-assistance-covid19/",
        "Learn more about Quebec benefits"
    )}}
</div>