<div class="benefit">

   <h3 class="benefit__header" id="province-pe">
    {{__("province-pe.header")}}
  </h3>

  <div class="benefit__body">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-pe",
        "https://www.princeedwardisland.ca/en/topic/covid-19-supports-and-services",
        "Learn more about PEI benefits"
    )}}
</div>