<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-nu">
    {{__("province-nu.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial and territorial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nu",
        "https://www.gov.nu.ca/health/information/covid-19-novel-coronavirus",
        "Learn more about Nunavut’s response"
    )}}
</div>