<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-yt">
    {{__("province-yt.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial and territorial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-yt",
        "https://yukon.ca/en/covid-19-support-yukoners",
        "Learn more about Yukon‘s response"
    )}}
</div>