<div class="benefit">

  <h3 class="benefit__header" id="province-bc">
    {{__("province-bc.header")}}
  </h3>

  <div class="benefit__body">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-bc",
        "https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/financial-benefits#individuals",
        "Learn more about BC benefits"
    )}}
</div>