<div class="benefit">

   <h3 class="benefit__header" id="province-nb">
    {{__("province-nb.header")}}
  </h3>

  <div class="benefit__body">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nb",
        "https://www2.gnb.ca/content/gnb/en/corporate/promo/covid-19.html",
        "Learn more about New Brunswick’s response"
    )}}
</div>