<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-bc">
    {{__("province-bc.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-bc",
        "https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/financial-benefits#individuals",
        "En savoir plus à propos des prestations de la C.-B. (anglais seulement)"
    )}}
</div>