<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="province-bc">
    {{__("province-bc.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-bc",
        "https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/financial-benefits#individuals",
        "Learn more about BC benefits"
    )}}
</div>