<div class="m-5 p-5 benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="province-nl">
    {{__("province-nl.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-nl",
        "https://www.gov.nl.ca/covid-19/fr/ressources/",
        "En savoir plus à propos du plan de Terre-Neuve-et-Labrador"
    )}}
</div>