<div class="benefit">

   <h2 class="benefit__header" id="province-pe">
    {{__("province-pe.header")}}
  </h2>

  <div class="benefit__body">

    <p>Certains gouvernements provinciaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-pe",
        "https://www.princeedwardisland.ca/fr/sujet/covid-19-soutien-et-services",
        "En savoir plus à propos des prestations de l’Î.-P.-É."
    )}}
</div>