<div class="benefit">

   <h3 class="benefit__header" id="province-mb">
    {{__("province-mb.header")}}
  </h3>

  <div class="benefit__body">

    <p>Some provincial governments are offering additional support for people during COVID-19.</p>

  </div>

  {{ infoLink(
        "province-mb",
        "https://www.gov.mb.ca/covid19/infomanitobans/index.html#individuals",
        "Learn more about Manitoba benefits"
    )}}
</div>