<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="province-yt">
    {{__("province-yt.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <p>Certains gouvernements provinciaux et territoriaux offrent des programmes d’aide financière additionnels pendant la COVID-19.</p>

  </div>

  {{ infoLink(
        "province-yt",
        "https://yukon.ca/fr/covid-19-support-yukoners",
        "En savoir plus à propos du plan du Yukon"
    )}}
</div>