<div class="benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="rent_help">
    {{__("rent_help.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <ul class='list-disc list-outside'>
      <li>Les gouvernements provinciaux sont responsables de la réglementation des logements locatifs.</li>
      <li> Dans la majorité des provinces et territoires, vous ne pouvez pas être expulsé pour ne pas avoir payé votre loyer.</li>
    </ul>

  </div>

  {{ infoLink(
        "rent_help",
        "https://www.cmhc-schl.gc.ca/fr/rental-housing/covid-19-eviction-bans-and-suspensions-to-support-renters",
        "Vérifier auprès de votre gouvernement provincial pour en savoir plus"
    )}}
</div>