<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="rrif">
    {{__("rrif.header")}}
  </h2>

  <div class="pb-5 mt-6">

    <ul class='list-disc list-outside'>
      <li>The mandatory amount you need to withdraw from your RRIF in 2020 will be 25% lower so you can save more money.</li>
    </ul>

  </div>

  {{ infoLink(
        "rrif",
        "https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/registered-retirement-income-fund-rrif.html",
        "Contact your bank for more details"
    )}}
</div>