<div class="m-5 p-5 benefit" data-cy="rrif-benefit">

   <h2 class="benefit__header -mx-5 -mt-5 pl-5  text-2xl mb-6 p-4" id="rrif">
    {{__("rrif.header")}}
  </h2>

  <div class="pb-5 mt-6">
    <ul class='list-disc list-outside'>
      <li>
        Le montant obligatoire que vous devrez retirer de votre fond enregistré de revenu de retraire
        en 2020 sera 25% plus bas afin que vous puissiez économiser.
      </li>
    </ul>
  </div>

  {{ infoLink(
        "rrif",
        "https://www.canada.ca/fr/agence-revenu/services/impot/particuliers/sujets/fonds-enregistre-revenu-retraite-ferr.html",
        "Contactez votre banque pour plus de détails"
    )}}
</div>