<div class="m-5 p-5 shadow-result">

  <h2 class="text-2xl font-bold mb-6" id="student_financial_aid">
    {{__("student_financial_aid.header")}}
  </h2>

  <ul class="list-none list-outside pl-0">
    {{ blueLI("Bourses de 6000 $ pour les étudiants à temps plein") }}
    {{ blueLI("Bourses de 3600 $ pour les étudiants à temps partiel") }}
    {{ blueLI("Jusquà 140 $ de plus par semaine pour les prêts étudiants") }}
    {{ blueLI("Élimination des contributions attendues des étudiants et des conjoints d’étudiants") }}
  </ul>

  <div class="pb-5 mt-6">
    <strong>Bon à savoir :</strong>
    <ul class='list-outside list-disc'>
      <li>Le gouvernement doit apporter des modifications à certaines lois afin de rendre cette prestation possible. Cela prendra un peu de temps et pourrait inflencer certains détails de cette prestation.</li>
      <li>Nous mettrons ces renseignements à jour lorsqu’ils seront connus.</li>
    </ul>

  </div>

  {{ infoLink(
        "student_financial_aid",
        "https://pm.gc.ca/fr/nouvelles/communiques/2020/04/22/aide-aux-etudiants-et-aux-nouveaux-diplomes-touches-la-covid-19",
        "Tenez vous informés au sujet de l’aide pour les étudiants"
    )}}
</div>