{{ benefitResult(
    "student_loan",
    __("student_loan.header"),
    __("student_loan.preamble"),
    {
        text: __("student_loan.linktext"),
        link: __("student_loan.link")
    },
    [
        __("student_loan.box1"),
        __("student_loan.box2")
    ]
)}}
