{% extends "benefit-template.njk" %}

{% set sectionId = 'transition_to_ei' %}

{% block header %}
  {{__("transition_to_ei.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>For people who have stopped working or who have lost their job through no fault of their own</strong>") }}
  {{ benefitLi("<strong>There are some temporary changes to the EI program in place between September 27 2020 and September 25 2021 to help you access EI benefits</strong>") }}
  {{ benefitLi("<strong>The minimum benefit rate is $500 per week (taxable) in most cases for a minimum of 26 weeks.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Next steps:</strong>
  <ul>
    <li>If you received the CERB through Service Canada, do not apply for EI. We will contact you provide more information.</li>
    <li>If you received the CERB through the Canada Revenue Agency or if you never received the CERB, you will have to apply for EI.</li>
    <li>If you received the CERB and are not sure which department you applied through, <a href="https://www.canada.ca/en/services/benefits/ei/cerb-application.html#contact">contact us</a>.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "transition_to_ei",
      "https://www.canada.ca/en/services/benefits/ei.html",
      "Find more information about EI benefits"
  )}}
{% endblock %}
