{% extends "base.njk" %}

{% block content %}

    <div>
        {% include "../../views/_includes/header-link-question.njk" %}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('why_stop_working', { 
                '1':'why_stop_working.1',
                '2':'why_stop_working.2',
                '3':'why_stop_working.3',
                '4': 'why_stop_working.4',
                '5': 'why_stop_working.5',
                '6': 'why_stop_working.6'
                }, data.why_stop_working, 'form.why_stop_working', errors, {hint: 'form.why_stop_working.desc'}) }}
            
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
