{% extends "base.njk" %}

{% block content %}

    <div>
        {% include "../../views/_includes/header-link-question.njk" %}
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('why_stop_working', 
                [ 
                    {value: '1', text : __('why_stop_working.1')},
                    {value: '2', text : __('why_stop_working.2')},
                    {value: '3', text : __('why_stop_working.3')},
                    {value: '4', text : __('why_stop_working.4')},
                    {value: '5', text : __('why_stop_working.5')},
                    {value: '6', text : __('why_stop_working.6')}
                ], 
                data.why_stop_working,
                __('form.why_stop_working'),
                errors,
                { hint: __('form.why_stop_working.desc')}, 
                { required: true }) 
            }}
            
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
