{% extends "base.njk" %}

{% block content %}

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('why_stop_working', 
                [ 
                    {value: '1', text : __('You’ve been laid off due to COVID-19.')},
                    {value: '2', text : __('Your employer has closed.')},
                    {value: '3', text : __('You’re self-employed and had to close.')},
                    {value: '4', text : __('You’re on unpaid leave from your work.')},
                    {value: '5', text : __('You quit or were let go due to unsafe working conditions.')},
                    {value: '6', text : __('None of the above')}
                ], 
                data.why_stop_working,
                __('form.why_stop_working'),
                errors,
                { hint: __('form.why_stop_working.desc')}, 
                { required: true }) 
            }}
            
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
