{% extends "base.njk" %}

{% block content %}

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('unchanged_income', 
                [ 
                    { value: '1', text:__('your_situation.unchanged_income.1')},
                    { value: '2', text:__('your_situation.unchanged_income.2')},
                    { value: '3', text:__('your_situation.unchanged_income.3')}
                ], 
                data.your_situation.unchanged_income, 
                __('form.your_situation.unchanged_income'), 
                errors, 
                { required: true }) 
            }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
