{% extends "base.njk" %}

{% block content %}

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ radioButtons('your_situation', { 
                '1':'your_situation.1',
                '2':'your_situation.2',
                '3':'your_situation.3',
                '4':'your_situation.4',
                '5':'your_situation.5',
                '6':'your_situation.6',
                '7':'your_situation.7'
                }, data.your_situation, 'form.your_situation', errors, {hint: 'form.your_situation.desc'}, { required: true }) }}

            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
