{% extends "base.njk" %}

{% block content %}

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ radioButtons(
                'leave_voluntarily', 
                [ 
                    { value: '1', text: __('leave_voluntarily.yes')},
                    { value: '2', text: __('leave_voluntarily.no')}
                ],
                data.leave_voluntarily,
                __('question.leave_voluntarily'),
                errors
            ) }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
