{% macro banner(variant, block) %}
    <div class="banner banner__{{ variant }}">
        <span class="banner__icon banner__{{ variant }}__icon" aria-hidden="true">i</span>
        {% if block %}
            {{ block | safe}}
        {% else %}
            <p>{{ __('No content provided') }}</p>
        {% endif %}
    </div>
{% endmacro %}