{% macro formButtons(submitButtonText = 'Next', cancelUrl = '/clear') %}
    <div class="buttons">
        <div class="buttons--left next-button">
            <button class="py-3 px-4 border shadow" data-cy="next" type="submit">{{ __(submitButtonText) }}</button>
        </div>
        <div class="buttons--right">
            {% if not hideBackButton %}
                {% include "_includes/back-link.njk" %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro linkButtons(confirmURL) %}
    <div class="buttons-row">
        <a href="{{ confirmURL }}">{{ __('Confirm') }}</a>
    </div>
{% endmacro %}