{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('some_income.title') }}</h1>
    <div>
        <form novalidate method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ radioButtons('some_income',
                [
                    { value: 'hours-reduced', text:__('your_situation.some_income.1')},

                    { value: 'employed-lost-a-job', text:__('your_situation.some_income.3')},

                    { value: 'retired', text:__('your_situation.some_income.2')},

                    { value: 'quarantine', text:__('your_situation.some_income.4')}
                ],
                data.some_income,
                __('form.your_situation.some_income'),
                errors,
                { required: true })
            }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
